body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

.grid {
  display: grid;
  grid-gap: 66px;
}

.grid-2-columns {
  grid-template-columns: auto auto;
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.text-center {
  text-align: center;
}

.card {
  background: #fff;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 10px 0;
}

.btn {
  display: block;
  color: #fff;
  background-color: #6c2270;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
}

header {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../images/mexico-city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

header a {
  display: inline-block;
  color: #6c2270;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  padding: 16px 32px;
  margin-top: 32px;
}

main {
  background: #fff;
}

main img {
  max-width: 100%;
}

main h2 {
  color: #6c2270;
  opacity: 0.3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  color: #6c2270;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

main h4 {
  color: #6c2270;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  color: #272044;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
}

main p {
  color: #272044;
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

footer {
  color: #fff;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/mexico-city-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
  text-align: justify;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: #fff;
  opacity: 0.7;
  font-size: 16px;
}

@media (max-width: 960px) {
  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 33px;
  }

  header {
    padding: 60px 10px;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 12px;
    padding: 12px 28px;
  }
}
